.shrink-sticky-header {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 30px 11.5%;
  background-color: #fff;
  a {
    text-decoration: none;
    color: #777;
  }
  img {
    max-height: 43px;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    ul{
      padding: 0;
      list-style: none;
  }
  ul li{
      display: inline-block;
      position: relative;
      font-size: 0.885em;
      cursor: pointer;
      text-align: left;
  }
  ul li a{
      display: block;
      padding: 0 0.5rem;
      color: #333;
      text-decoration: none;
  }
  ul li a.item-name{
    padding: 8px 15px;
  }
  ul li ul.dropdown{
      min-width: 100%; 
      background: #f2f2f2;
      display: none;
      position: absolute;
      z-index: 999;
      left: 0;
  }
  ul li:hover ul.dropdown{
      display: block;
  }
  ul li ul.dropdown li{
      display: block;
  }
      a:hover {
        color: #1175e9;
      }
      .active{
        color: #1175e9;
      }
  }
}
.shrink-sticky-header.sticky {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.shrink-sticky-header.sticky.small {
  padding: 3px 11.5%;
  img {
    max-height: 30px;
  }
}

.scroll-to-top {
  width: 35px;
  height: 35px;
  position: fixed;
  bottom: 100px;
  right: 20px;
  font-size: 16px;
  color: #999;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 998;
  transition: all 0.25s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
}
.scroll-to-top:hover {
  background: #1175e9;
  border-color: transparent;
  text-decoration: none;
  color: #fff;
}
.scroll-to-top.visible {
  opacity: 1;
}
